@import "~@reuters-graphics/style-theme-eisbaer/scss/main";
@import "~@reuters-graphics/style-color/scss/thematic/brand";
@import "~@reuters-graphics/style-main/scss/fonts/mixins";

$Globetrotter-container: '#chart';

@import 'chart';
@import 'react-toggle';

// Some styles for the preview page...
$dark-blue: #2f353f;
$yellow: #fce587;
$dark-yellow: #eec331;
$half-white: rgba(255, 255, 255, 0.75);
$boxshadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
body{
  background: $dark-blue;
}

#{$Globetrotter-container} {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav.nav{
  padding: 20px 0;
  text-align: center;
  svg{
    margin: 0 auto;
    fill: white;
    .st4{
      fill: $brand;
    }
  }
}

section.graphic{
  margin-top: 80px;
  margin-bottom: 20px;
}

section.graphic.mobile{
  max-width: 330px;
}

div.size-options{
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  color: #ccc;
  button{
    border-radius: 0;
    border: 1px solid #ccc;
    border-right: 0;
    height: 18px;
    width: 20px;
    outline: none;
    &.active {
      background-color: #ccc;
    }
    &:first-of-type{
      margin-left: 10px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    &:last-of-type{
      margin-right: 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-right: 1px solid #ccc;
    }
  }

}

div.chart-options {
  @include font-sans;
  max-width: 800px;
  margin: 0px auto 80px;
  font-weight: 200;
  text-align: center;
  button{
    background: transparent;
    border: 1px solid #666;
    margin: 4px;
    color: white;
    border-radius: 4px;
    font-weight: 200;
    letter-spacing: 0.1rem;
  }

  .spin-options{
    margin-top: 25px;
    label span {
      width: 42px;
      text-align: right;
      color: white;
      line-height: 20px;
      vertical-align: middle;
      margin-right: 10px;
      margin-top: -16px;
      display: inline-block;
    }

  }
}
